<h1 id="friend-greeting"><%= @user.username %>'s Profile</h1>

<%= javascript_pack_tag 'application' %>

<%= react_component("ParentComponent", { current_user:current_user, user:User.find(params[:id])}) %>

<%= link_to('Home', new_user_registration_path) %>


  <%= link_to "Unfriend", delete_request_path(id: @user.id), method: :delete %>

