<h1>Friendships for <%= current_user.username %></h1>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
  <br>
<% end %>

<div class="textarea">
<h2> Add new friend </h2>
<%= render 'form', friendship: @friendship %>
</div>
<div class="friends">
<h2> Your friendships </h2>
<% current_user.friends.each do |friend| %>
  <ul>
  <%= link_to friend.username, friend %>
<%= link_to "Unfriend", delete_request_path(id: friend.id), method: :delete %>
  </ul>
<% end %>
</div>
<div class="friends">
<h2> Requests you've made </h2>
<% current_user.pending_friends.each do |friend| %>
<div class="sent-requests">
<%= friend.username %>
</div>
<% end %>
</div>

<div class="friends">
<h2> Requests you've recieved </h2>
<% current_user.friend_requests.each do |friend| %>
<div class="received-requests">
<%= friend.username %>
<%= link_to "Accept", accept_friend_path(id: friend.id), method: :post %>
<%= link_to "Decline", delete_request_path(id: friend.id), method: :delete %>
</div>
<% end %>
</div>

