<h1>Friendships for <%= current_user.email %></h1>

<h2> Your friendships </h2>
<% current_user.friends.each do |friend| %>
<%= friend.email %>
<% end %>


<h2> Requests you've made </h2>
<% current_user.pending_friends.each do |friend| %>
<%= friend.email %>
<% end %>


<h2> Requests you've recieved </h2>
<% current_user.friend_requests.each do |friend| %>
<%= friend.email %>
<% end %>

<%= link_to "New Friend", friendships_new_path %>
