<header>
<div id='title'>
  <h1><a href="http://localhost:3000/">Looking Glass</a></h1>
</div>

<div id='home-buttons'>
  <a>
  <% if user_signed_in? %>

    <div class="deviselink">
        <%= link_to 'My Profile', "/" %> ||
        <%= link_to "Friends", friendships_path %> ||
        <%= link_to('Log out', destroy_user_session_path, method: :delete) %>
    </div>

    <% else %>
    <div class="deviselink">
        <%= link_to('Login', new_user_session_path) %> ||
        <%= link_to('Register', new_user_registration_path) %>
    </div>
    <% end %>
  </a>

</div>
</header>
